<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @card.value %>
</p>
<%= image_tag(src=@card.picture.url) %>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
